@tailwind base;

h1 {
  @apply text-8xl font-bold;
}
h2 {
  @apply text-6xl font-bold;
}
h3 {
  @apply text-4xl font-bold;
}
h4 {
  @apply text-3xl font-bold;
}
h5 {
  @apply text-2xl font-bold;
}
h6 {
  @apply text-xl font-bold;
}
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}